<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>批量为图片添加水印</title>
</head>
<body>
    <form action="/upload/batch_water_moretext" enctype="multipart/form-data" method="post">
        <div>
            <input type="file" name="img" /><br />
            <input type="file" name="img" /><br />
            <input type="file" name="img" /><br />
            <input type="file" name="img" /><br />
            <input type="file" name="img" /><br />
            <input type="submit" value="上传">
        </div>
    </form>
</body>
</html>